.notification {
  position: fixed;
  right: 1rem;
  top: 4rem;
  min-width: 20rem;
  max-width: 25rem;
  min-height: 3rem;
  max-height: 10rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  text-align: center;
}

.success {
  background-color: #53B3BB;
}

.warning {
  background-color: #EEE8A9;
}

.fail {
  background-color: #ca8f94;
}

.show {
    visibility: visible;
    animation: fadeIn 0.5s, fadeOut 1s 3s;
}

.hide {
    visibility: hidden;
}

.icon {
  flex: 15%;
}

.svg-icon {
  margin: 0;
  padding: 0;
  height: 2rem;
}

.message {
  flex: 85%;
  max-height: 8rem;
  font-weight: bold;
  text-align: start;
  overflow: hidden;
}

/* Animations */
@keyframes fadeIn {
    from {
        right: 0;
        opacity: 0;
    }
    to {
        right: 1rem;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        right: 1rem;
        opacity: 1;
    }
    to {
        right: 0; 
        opacity: 0;
    }
}