/*************/
/** DESKTOP **/
/*************/
.card {
    margin: 1rem;
    padding: 1rem;
    width: 15rem;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    background-color: aliceblues;
    border: 1px solid #007d8649;
    border-radius: 8px;
    width: 200px;
    height: 200px;
}

.exercise-info {
    width: 100%;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

.names {
    margin-bottom: 1rem;
}

.name {
    font-size: 30px;
}

.alternative-name {
    margin-top: 5px;
    font-size: 18px;
}

.general-info {

}


.info-block {
    margin-top: 5px;
}

.label, .value {
    display: inline-block;
}

.label {
    /* background-color: red; */
    font-weight: 500;
}

.value {
    /* background-color: blue; */
    margin-left: 10px;
}

.link {
    width: 40%;
    margin: 0.5rem auto 0 auto;
    padding: 8px 6px;
    background-color: #007E86;
    border: 0px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
}

.link:hover,
.link:active {
    cursor: pointer;
    background-color: #028e98;
}

/*************/
/*** PHONE ***/
/*************/
@media (max-width: 450px) {
    .card {
        width: 18rem;
    }

    .img {
        width: 230px;
        height: 230px;
    }

    .exercise-info {
        width: 100%;
        padding: 0 1rem;
        margin: 1rem 0;
    }
}
