/*************/
/** DESKTOP **/
/*************/
.main-section {
  width: 35rem;
  margin: 2rem auto;
  padding: 1rem 1rem;
  /* border: 2px solid #007E86; */
  border-radius: 8px;
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

.form-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.text-label {
  font-size: 18px;
}

.text-label-small {
  font-size: 16px;
  text-align: center;
  flex: 0 auto;
}

.select-content {
  position: relative;
}

.select-input {
  width: 100%;
  appearance: none;

  padding: 10px 8px;
  margin: 5px 0 20px 0;
  border: 1.5px solid #007e86;
  border-radius: 4px;
  font-size: 16px;
}

.select-inputs-small-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2px 0 10px 0;
}

.select-input-small {
  flex: 1 auto;
  width: 35%;
  appearance: none;

  padding: 6px 4px;
  margin: 5px;
  border: 1.5px solid #007e86;
  border-radius: 4px;
  font-size: 16px;
}

.select-arrow {
  position: absolute;
  height: 1.5rem;
  right: 0.5rem;
  top: 0.8rem;
}

.add-btn {
  margin: 0 auto;
  width: 40%;
  padding: 8px 6px;
  background-color: #007e86;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
}

.add-btn:hover,
.add-btn:active {
  cursor: pointer;
  background-color: #028e98;
}

.submit-btn {
  width: 100%;
  margin: 1rem 0;
  padding: 10px 8px;
  background-color: #007e86;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.submit-btn:hover,
.submit-btn:active {
  cursor: pointer;
  background-color: #028e98;
}

.submit-btn-disabled {
  width: 100%;
  margin: 1rem 0;
  padding: 10px 8px;
  background-color: rgb(207, 207, 207);
  border: 1px;
  border-color: #007e86;
  border-radius: 4px;
  color: rgb(154, 154, 154);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.submit-btn-disabled:hover,
.submit-btn-disabled:active {
  cursor: not-allowed;
}

.loading-img {
  margin: 1rem auto;
  height: 20px;
  width: 20px;
}

.forgot-password {
  margin-top: 1rem;
}

.division {
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-division {
  width: 45%;
  height: 1px;
  background-color: #028e98;
  border: none;
}

.error-text {
  color: rgb(176, 16, 72);
  margin: 0 0 1rem 0;
}

.response-error-text {
  text-align: center;
  color: rgb(176, 16, 72);
  margin-top: 0.5rem;
}

.exercise-plan-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan-div {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 8px;
  margin: 0.5rem 0 1rem 0;
}

.plan-title {
  text-align: center;
  margin: 1rem 0 0.5rem 0;
}
/*************/
/*** PHONE ***/
/*************/
@media (max-width: 450px) {
  .main-section {
    width: 22rem;
  }

  .form-content {
    gap: 0.5rem;
  }

  .select-input {
    padding: 10px 8px;
    background-color: white;
    color: black;
  }
}
