.grid {
  background-color: rgb(230, 230, 230);
  margin: 2rem auto;
  padding: 1rem;
  max-width: 50rem;
  border: 2px solid #028e98;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-title {
  margin: 1rem 0 2rem 0;
}

.loading-img {
  height: 50px;
  width: 50px;
}

.program-section {
  width: 90%;
  margin: 0 0 2rem 0;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-label {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1.5px solid #028e98;
}

.card {
  margin: 1rem;
  padding: 1rem;
  width: 90%;
  border-radius: 8px;
  background-color: rgb(201, 201, 201);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  margin-bottom: 1rem;
}

.program-info {
  width: 100%;
  display: flex;
}

.img-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.img {
  border: 1px solid #007d8649;
  border-radius: 8px;
  width: 200px;
  height: 150px;
}

.program-details {
  flex-grow: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-size: 20px;
}

.btns-div {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.btn-link {
  width: 8rem;
  padding: 8px;
  background-color: #007e86;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

.btn-link:hover,
.btn-link:active {
  cursor: pointer;
  background-color: #028e98;
}
