.grid {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    row-gap: 0.5rem;
    justify-items: center;
}

.title {
    grid-column: 1 / -1;
}

.loading-img {
    grid-column: 1 / -1;
    height: 50px;
    width: 50px;
}