.filters-section {
    width: 100%;
    grid-column: 1/-1;
    display: grid;
}

.show-btn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    text-decoration: underline;
    color: #007E86;
    cursor: pointer;
    font-size: 16px;
}

.show-btn:hover,
.show-btn:active {
    cursor: pointer;
    color: #015a61;
}

.filters-selects {
    margin-top: 10px;

    padding: 10px 0;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.text-label {
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}

.select-input {
    padding: 0;
    margin: 0;
    border: 1.5px solid #007E86;
    border-radius: 4px;
    font-size: 14px;
}

.clear-btn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: #007E86;
    cursor: pointer;
    font-size: 14px;
}

.clear-btn:hover,
.clear-btn:active {
    cursor: pointer;
    color: #015a61;
}