.card {
    width: 35rem;
    margin: 2rem auto;
    padding: 1rem 1rem;
    /* border: 2px solid #007E86; */
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 40px;
}

.alternative-name {
    font-size: 20px;
    font-weight: 500;
}

.img {
    border: 1px solid #007d8649;
    border-radius: 8px;
    height: 20rem;
    width: 20rem;

    margin: 1rem 0;
}

.loading-img {
    display: block;
    margin: 1rem auto;
    grid-column: 1 / -1;
    height: 50px;
    width: 50px;
}

.info-block {
    margin: 1rem 0;
}

.label, .value {
    display: inline-block;
    font-size: 18px;
}

.label {
    margin-right: 10px;
    font-weight: 600;
}

.show-btn {
    margin: 1rem auto 0.5rem auto;
    width: 40%;
    padding: 8px 6px;
    background-color: #007E86;
    border: 0px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.show-btn:hover,
.show-btn:active {
    cursor: pointer;
    background-color: #028e98;
}

.bottom-btns-div {
    /* background-color: red; */
    margin-top: 1rem;
    border-top: 1px solid rgb(206, 206, 206);
    width: 100%;
    height: 5rem;
    display: flex;
}

.link, .delete-btn {
    width: 8rem;
    margin: auto;
    padding: 8px 6px;
    border: 0px;
    border-radius: 4px;
    background-color: #007E86;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.link:hover,
.link:active,
.delete-btn:hover,
.delete-btn:active {
    cursor: pointer;
    background-color: #028e98;
}